.detail-container {
  padding: 20px 80px;
}
.more-details-button {
  border: none;
  background-color: brown;
  padding: 10px 40px;
  border-radius: 10px;
}
.food-detail {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: rgb(247, 243, 243);
  padding: 30px 80px;
  border-radius: 15px;
}
.food-detail img {
  width: 200px;
  border-radius: 10px;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  color: black;
}
